@property --top-bar-title-position {
    syntax: 'off | hide | left';
    inherits: false;
    initial-value: off;
}

@container body style(--top-bar-title-position: hide) {
    .visual-refresh {
        .title__85643 {
            display: none;
        }
    }
}

@container body style(--top-bar-title-position: left) {
    .visual-refresh {
        .title_c38106 {
            padding-left: var(--gap);
            justify-content: flex-start;
        }
        .title__85643 {
            gap: 4px;
        }
    }
}

@property --subtle-top-bar-title {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--subtle-top-bar-title: on) {
    .visual-refresh {
        .title__85643 .icon_f34534,
        .title__85643 > svg {
            display: none;
        }
        .title__85643 .text-sm\/medium_cf4812 {
            line-height: 90%;
            font-weight: 700;
            color: var(--text-muted);
        }
    }
}

/* transparency-blur.css */
@property --panel-blur {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--panel-blur: on) {
    .visual-refresh {
        #app-mount {
            --panel-backdrop-filter: blur(var(--blur-amount));
        }

        .popoverReactionHoverBar_f84418 /* message hover quick action bar */,
        .tooltip__382e7 /* tooltips */ {
            background: var(--bg-floating);
        }
        .menu_c1e9c4 /* context menus */,
        .contentWrapper__08434 /* emoji/gif panel */,
        .root__49fc1 /* modals like invite */,
        .outer_c0bea0.user-profile-popout:not(.custom-theme-background) /* small profile popup */,
        .autocomplete__6b0e0 /* autocomplete */,
        .container__55c99 /* search suggestions */,
        .messagesPopoutWrap__45690 /* inbox */,
        .popout__76f04 /* channel hover popout */,
        .bar__7aaec /* channel list new unreads bar */ {
            background: var(--bg-floating);
        }
    }
}

@property --transparency-tweaks {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--transparency-tweaks: on) {
    .visual-refresh {
        .formWithLoadedChatInput_f75fb0:before,
        .children__9293f:after {
            display: none;
        }
    }
}

@property --remove-bg-layer {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--remove-bg-layer: on) {
    .bg__960e4 {
        background: transparent !important;
    }
}

/* user-panel.css */
@property --small-user-panel {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--small-user-panel: on) {
    .visual-refresh {
        .panels_c48ade /* user panel */ {
            right: 0;
            left: unset;
            width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));
        }
        .guilds_c48ade /* server list */ {
            margin-bottom: 0;
        }
    }
}

/* window-controls.css */
body {
    --window-control-size: 14px;
}

@property --custom-window-controls {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--custom-window-controls: on) {
    .winButtons_c38106 {
        gap: 0;
        padding-right: calc(var(--gap) - (var(--window-control-size) / 2) + 1px);
    }
    .winButtons_c38106::before {
        margin-right: calc(var(--custom-app-top-bar-height) / 4);
    }
    .winButton_c38106 > svg {
        display: none;
    }
    .winButton_c38106 {
        background: none !important;
        width: calc(var(--window-control-size) * 2);
        height: var(--custom-app-top-bar-height);
    }
    .winButton_c38106::after {
        display: block;
        content: '';
        height: var(--window-control-size);
        width: var(--window-control-size);
        border-radius: 50%;
    }
    .winButton_c38106:hover::after {
        filter: brightness(0.7);
    }
    .winButton_c38106:active::after {
        transform: scale(0.9);
    }
    .winButtonClose_c38106::after {
        background-color: var(--dnd) !important;
    }
    .winButtonMinMax_c38106:nth-child(1)::after {
        background-color: var(--idle) !important;
    }
    .winButtonMinMax_c38106:nth-child(2)::after {
        background-color: var(--online) !important;
    }
}

@container body style(--custom-window-controls: off) and style(--top-bar-button-position: titlebar) {
    .visual-refresh {
        .winButton_c38106 {
            width: calc(var(--window-control-size) * 2);
            height: calc(var(--window-control-size) * 2);
        }
        .winButtons_c38106 {
            gap: 0;
        }
    }
}
